.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  pointer-events: none;
  margin-right: 20px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 130px;
  display: flex;            /* Use flexbox to align logo and title in a row */
  flex-direction: row;       /* Aligns elements in a row */
  align-items: center;       /* Centers them vertically */
  justify-content: flex-start; /* Pushes items to the left */
  padding-left: 20px; 
  font-size: calc(50px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-custom {
  padding: 0; /* Remove padding */
  margin: 0;
}

.nav-item {
  margin: 0 50px; /* Adds a bit of space between items */
}