.App {
  text-align: center;
}

.App-logo {
  height: 250px;
  pointer-events: none;
  margin-right: 20px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 200px;
  display: flex;         
  flex-direction: column;     
  align-items: center;    
  justify-content: center;
  padding-left: 20px; 
  padding-bottom: 20px;
  color: white;
}

.App-header .header-row {
  display: flex;                 
  align-items: center;           
}

.App-header .header-row-list {
  display: flex;                  
  align-items: center; 
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 100px;          
}

.header-row > h1{
  font-size: 100pt;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-custom {
  padding: 0;
  margin: 0;
  position: sticky;
}

.nav-item {
  margin: 0 50px;
}